<?xml version='1.0' encoding='utf-8'?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.game.widthxheight"
    versionCode = "10" 
    version     = "1.0.0" >
 <name>phonegapi</name>
    <description>
        A sample Apache Cordova application that authenticates with google services and uses google gapi.
    </description>
    <author email="rscohn2@gmail.com" href="http://cordova.io">
        RoCo Software
    </author>
    <content src="index.html" />
    <access origin="*" />
    <gap:plugin name="org.li8.inappbrowser" version="0.1" />
</widget>
